
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>你看见这个页面了</h1><br />
    <h1>@ViewData["msg"] </h1>
</body>
</html>
